.cajadepublicacion {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 650px;
  padding: 20px;
  border: 1px solid #2f3336;
  margin-top: 2px;
  margin-right: 30px;


}

/* COLUMNA IZQUIERDA */
.parteIzquierda {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  /* avatar arriba */
}

/* COLUMNA DERECHA */
.parteDerecha {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* HEADER */
.perfil {
  display: flex;
  gap: 10px;
}

.fotodeperfil {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid white;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
  color: white;
}

.username {
  color: #71767b;
  font-size: 14px;
}

/* TEXTO */
.content {
  font-size: 15px;
  color: #e7e9ea;
  line-height: 1.4;
}

/* IMAGEN */
.media img {
  width: 100%;
  border-radius: 16px;
  margin-top: 5px;
}

/* ICONOS */
.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.icons button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #71767b;
  transition: 0.2s;
}

.icons svg {
  width: 23px;
  height: 23px;
}

/* HOVER */
.icons button:hover {
  color: #1d9bf0;
  transform: scale(1.1);
  filter: brightness(1.2);
}

/* LIKE */
.like:hover {
  color: red;
}

/* scroll q esta en home */
.scroll {
  height: 700px;

  /* Para Chrome, Safari y Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Para Internet Explorer, Edge antiguo y Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */

  /* Asegúrate de que el scroll siga funcionando */
  overflow-y: auto;

}